<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home Page</title>
</head>
<body>
    <h1> This is the home page</h1>
    <h3> <%= 1+2 %> </h3>
    <h3> <%= "Apna college".toUpperCase() %></h3>
    <h3> <%= ["hello" , "bonjour" , "namaste"][2] %></h3>
    <p>  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum magni doloribus perferendis, quibusdam accusamus deserunt adipisci. Voluptatem ducimus ea totam dolores error nobis id commodi, optio deleniti natus, illo explicabo Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat iste amet ipsam dolore tenetur atque, recusandae repellat odit explicabo est enim perferendis delectus ad qui provident eius pariatur vitae deserunt? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi cum inventore maiores. Quo commodi accusantium adipisci! Laboriosam modi corporis, qui mollitia autem praesentium. Quia cum, recusandae iste sint est fugiat</p>
    <button> Click </button>    
</body>
</html>